.body {
    -fx-background-color: #272727;
}

.topPlayListBlock {
    -fx-spacing: 20;
    -fx-padding: 20;
}

.playlist-base-pane {
    -fx-min-height: 120px;
    -fx-pref-height: 120px;
    -fx-pref-width: 120px;
    -fx-min-width: 120px;
    -fx-background-radius: 10px;
}

.playlist-pane {
    -fx-background-color: #000000;
    -fx-effect: dropshadow(gaussian, rgba(121, 13, 161, 0.78), 20, 0.4, 0, 0);
}