@font-face {
    font-family: "Helvetica";
    src: url("./Helvetica.ttf");
}

.fonted {
    -fx-font-family: "Helvetica";
}

.no-border {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.body {
    -fx-background-color: #141414;
}

.playlist-scroller {
    -fx-background-radius: 15;
}

.playlist-block {
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-background-color: #141414;
}

.collection-base-pane {
    -fx-min-height: 90px;
    -fx-min-width: 90px;
    -fx-pref-height: 90px;
    -fx-pref-width: 90px;
    -fx-background-radius: 10px;
}

.collection-pane {
    -fx-background-color: #262626;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 20, 0.4, 0, 0);
}

.mini-collection-base-pane {
    -fx-background-color: #272727;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.4, 0, 0);
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-radius: 10px;
}

.create-playlist-pane {

}

.settings-button {

}

.track-circle {
    opacity: 0;
}

.track-bar .bar {
    -fx-background-radius: 5;
    -fx-pref-width: 250;
    -fx-background-insets: 0;
}

.track-bar .track {
    -fx-background-color: #262626;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.track-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.track-label {
    -fx-text-fill: white;
}

.track-duration-label {
    -fx-text-fill: #757575;
}

.track-volume-label {
    -fx-text-fill: #757575;
}

.track-box {
    -fx-background-color: #151515;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.4, 0, 0);
    -fx-max-height: 300;
    -fx-max-width: 250;
    -fx-padding: 50 10 50 10;
    -fx-background-radius: 15;
}

.rate-speed-button {
    -fx-background-color: #202020;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-min-height: 40;
    -fx-min-width: 70;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.4, 0, 0);
}

.modal {
    -fx-background-color: #272727;
    -fx-max-height: 100;
    -fx-max-width: 100;
}